
p {font: times; font-size: 24; color: black}
h6 {font: times; font-size: 12; color: black; background-color: aquamarine;}
h5 {font: times; font-size: 36; color: black}

.ari{color:aliceblue}
.bel{color:aquamarine}
.chry{color: cyan}